	header{
			   
			    width: 100%;
				height: 60vh;
				background-repeat: no-repeat;
			   position:static;
	nav{
			top:0;
			left: 0;
			width: 100%;
			color: #fff;
			height:80px;
			z-index: 1000;
			margin-top: 0;
			position: fixed;
			padding-top: 0px;
			background: none;
			transition: all 0.6s cubic-bezier(0.7,0.01,0.3,1);

			// .logo{
			// 		position: absolute;
			// 		z-index: 2000;
			// 		left: 0;
			// 		top: -4px;
			// 		width: 70px;
			// 		height: 74px;
			// 		padding: 0.4% 2%;
			// 		background -position: 50% 50%;
			// 		background-repeat : no-repeat;
			// 		background-image: url(../img/logo.png);
				  
			// 	}
			#toggle{
				.menu{
					top: 0;
					right: 0;
					height: 4px;
					width: 24px;
					text-align: right;
					margin:  2rem 2rem;
					background: #ec008c;
					transition: all 0.3s;
					position: absolute;
					z-index: 2000;


					       &:before{
					       			content: " ";
									display: block;
									height: 4px;
									width: 24px;
									background:#fff;
									position: absolute;
									z-index: -1;
									top: -8px;

					       }
					       &:after{
									content: " ";
									display: block;
									height: 4px;
									width: 24px;
									background: #fff;
									position: absolute;
									z-index: -1;
									top: 8px
								}
							   .open .menu{
									background: none!important;
								}
								.open .menu:after{
									top: 0 !important;
									background: #fff !important;
									transform: rotate(45deg);
								}
								.open .menu:before{
									top: 0 !important;
									background:#fff !important;
									transform: rotate(-45deg);
								}
				}


			}


			.nav-background{
					top: 0px;
					opacity: 0;
					width: 100%;
					height: 100%;
					/*z-index: 1500;*/
					display: table;
					background: none;
					position: absolute;
					transition: background-color 0.6s cubic-bezier(0.7,0.01,0.3,1);
					&.open .nav-background{
								opacity:  1;
								background-color: rgba(217,14,130,0.9) !important;
								/*transition:  background-color 0.6s cubic-bezier(0.7,0.01,0.3,1);*/
							}


				}
			.open{
					height: 100%;
					transition: none;
					-o-transition:none;
					-moz-transition:none;
					-webkit-transition:none;
				}

			  ul{
					top: -10%;
					padding: 0;
					opacity: 0;
					width: 100%;
					text-align: center;
					visibility: hidden;
					display: table-cell;
					vertical-align:middle;
					transform: perspective(600px )rotateX(10deg);
					transition: all 0.05 cubic-bezier(0.7,0,0.36,0.63);
					   		 li{
							 	visibility: hidden;
									 a{
									 	color: white;
									 	width: 100%;
									 	display:block;
									 	padding:  8px 0 0;
									 	letter-spacing:-0.06em; 
									 }
									  a{
									 	color: #ec008c;
									 	background-color:white; 
									 }
										.open {
										color: #fff;
										font-size: 60px;
										visibility: visible !important;
									}
							   }
							.open ul{
								top: 0;
								opacity: 1;
								margin-top: 0;
								visibility: visible;
								transform: perspective(600px) rotateX(0deg);
							}


			   }


				.header-in{
					background-color: rgba(217, 40, 130, 0.9);
				}
		}

			.image{
				width: 100%;
				height: 94vh;
				background-image: url("../img/fondo-bienvenida.jpg");
				background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center top;
			    margin-left:0.3%;
			    margin-top:-3%;
			   
			}
			#fondo{
				
				width:100%;
				height:100vh;
				text-align: center;
				font-size:20px;
				font-family: 'Baloo Paaji', cursive;
				
				.text{
					margin-left:25%;
					margin-top: 5%;
                    text-align:center;
                    margin-left:15%;
				 }
			 }
	}


		h1{
	color: #EE22A4;
}
// body{
// 	height: 900px;
// }



.solid #toggle .menu{
	background: #fff;
}

.solid #toggle .menu:after{
	background-color: #fff;
}

.solid #toggle .menu:before{
	background-color: #fff;
}

nav.solid #logo .logo{
	background-image: url(../img/output.ico);
	background-size: contain;
}
.overflow-hidden{
	overflow:hidden;
}