	header{

			   
// *{
// 	outline: 1px solid red;
// }

				
				nav{
					top:0;
					left: 0;
					width: 100%;
					color: #fff;
					height:80px;
					z-index: 1000;
					margin-top: 0;
					position:fixed;
					padding-top: 0px;
					background: none;
					h1{
							color: #EE22A4;
						}
				}
				.logo,.menu{
					position: absolute;
					z-index: 2000;
				}
				// .logo{
				// 	left: 0;
				// 	top: -4px;
				// 	width: 70px;
				// 	height: 74px;
				// 	padding: 0.4% 2%;
				// 	background -position: 50% 50%;
				// 	background-repeat : no-repeat;
				// 	background-image: url(../img/huge.ico);
				// }
				.menu{
					top: 0;
					right: 0;
					height: 4px;
					width: 24px;
					position:fixed;
					text-align: right;
					margin:  2rem 2rem;
					background: #fff;
					transition: all 0.3s;
				}
				.menu:before, .menu:after{
					content: " ";
					display: block;
					height: 4px;
					width: 24px;
					background:#fff;
					position: absolute;
					z-index: 1000;
				}
				.menu:before{
					top: -8px
				}
				.menu:after{
					top: 8px
				}
				#toggle:hover .menu:before {
					top: -9px;
				}
				#toggle:hover .menu:after {
					top: 9px;
				}
				.open .menu{
					background: none!important;
				}
				.open .menu:after{
					top: 0 !important;
					background: #fff !important;
					transform: rotate(45deg);
				}
				.open .menu:before{
					top: 0 !important;
					background:#fff !important;
					transform: rotate(-45deg);

				}
				nav .nav-background{
					top: 0px;
					opacity: 0;
					width: 100% !important;
					height: 100%;
					display: table;
					background: none;
					position: fixed;

				}
				//////////////////////////////////////////////
				nav.open .nav-background{
					opacity:  1;
					background:rgba(32,20,14,0.8)!important;
				}
				nav.open{
					height: 100%;
					transition: none;
					-o-transition:none;
					-moz-transition:none;
					-webkit-transition:none;
				}
				nav ul{
					top: -10%;
					padding: 0;
					opacity: 0;
					width: 100%;
					text-align: center;
					visibility: hidden;
					display: table-cell;
					vertical-align:middle;
					transform: perspective(600px )rotateX(10deg);
				}
				nav ul :hover{
					color:#ed2251;
				}
				 nav  ul li{
				 	visibility: hidden;
				 }
				 nav ul li a{
				 	color: white;
				 	width: 100%;
				 	display:block;
				 	padding:  8px 0 0;
				 	letter-spacing:-0.06em; 
				 }
				 nav ul li a{
				 	color: #fff;
				 	background-color:transparent; 
				 }nav.open ul{
					top: 0;
					opacity: 1;
					margin-top: 0;
					visibility: visible;
					transform: perspective(600px) rotateX(0deg);
				}

				nav.open ul li{
					color: #fff;
					font-size: 40px;
					visibility: visible !important;
				}

				// nav.header-in{
				// 	background-color: rgba(217, 40, 130, 0.9);
				// }

				.solid #toggle .menu{
					background: #fff;
				}

				.solid #toggle .menu:after{
					background-color: #fff;
				}

				.solid #toggle .menu:before{
					background-color: #fff;
				}

				nav.solid #logo .logo{
					background-image: url(../img/output.ico);
					background-size: contain;
				}
				.overflow-hidden{
					overflow:hidden;
				}
			.image{
				width: 100%;
				height: 94vh;
				background-image: url("../img/fondo-bienvenida.jpg");
				background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center top;
			    margin-left:0.3%;
			    margin-top:-3%;
			   
			}
			#fondo{
				
				width:100%;
				height:100vh;
				text-align: center;
				font-size:20px;
				font-family: 'Baloo Paaji', cursive;
				
				.text{
					margin-left:25%;
					margin-top: 5%;
                    text-align:center;
                    margin-left:15%;
				 }
			 }
	}


