
/* 
Código Hexadecimal verde: #8EC641
Código Hexadecimal gris footer: #3B3B3B
*/
*{
		padding:0px;
		margin:0px;
}
@import "parciales/_menu.scss";

		#section-1{
			iframe{
				width: 100%;
				height: 100vh;
				margin-top:-3%;
				margin-left:3px;
			}
         }

		#section-2{
			.image{
				width: 100%;
				height: 100vh;
				background-image: url("../img/fondo-about.jpg");
				background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center top;
			    margin-left:0.3%;
			    margin-top:-3%;
			   
			}


			#concepto{
				
				width:100%;
				height:100vh;
				text-align: center;
				// margin-left:8%;
				color:#fff;
				margin-top:2.5%;
				font-size:20px;
				font-family: 'Raleway', sans-serif;
				
				.text{
					margin-left:25%;
					margin-top: 10%;
					.text-bunny{
					color: #fff;
					font-size:60px;
				    }
				    p{
				    	font-family: 'Raleway', sans-serif;
				    	font-size:18px;
				     }
				 }
			 }

		}






		#section-3{
			background:#fff;
			color:black;
			#text-concept{
				// margin-left:10%;

				.caption{
					margin:10%;
					h2{
					  font-size:40px;
					  color:pink;	
					}
					
				}
			}
		}






		#section-4{
		margin-left:1%;

			.imagen1{
				width: 55%;
				height: 100vh;
				background-image: url("../img/min-video-1-2.jpg");
				background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center top;
			   
			 }
			#fondo{
				background:rgba(32,23,3,0.6);
				width:100%;
				height:100vh;
				text-align: center;
				color:#fff;
				font-size:20px;
				font-family: 'Raleway', sans-serif;
				
				.text{
					margin-left:25%;
					margin-top: 10%;
					.text-bunny{
					color: #fa7673;
					font-size:70px;
				    }
				    p{
				    	font-family: 'Raleway', sans-serif;
				    	font-size:30px;
				    }

				}
			}
	
		}




	#section-5{

			.image{
				width: 100%;
				height: 500vh;
				background-image: url("../img/parallax-2.jpg");
				background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center top;
			    margin-left:0.3%;
			    margin-top:-3%;
			   
			}
			#fondo{
				
				width:100%;
				height:100vh;
				text-align: center;
				// margin-left:8%;
				color:#fff;
				margin-top:2.5%;
				font-size:20px;
				font-family: 'Raleway', sans-serif;
				
				.text{
					margin-left:25%;
					margin-top: 10%;
					.text-bunny{
					color: #fff;
					font-size:60px;
				    }
				    p{
				    font-family: 'Raleway', sans-serif;
				    
				     }
				 }
			 }
		}
		#section-6{
         
	         #imagen1{
	         	background:#f4f0bb;
	         	margin-left:5%;
	         }
		}
		#section-7{
		   #imagen2{
		   		background:#8EC641;
		   		margin-left:5%;
		   }

		}
		#section-8{
			
			#imagen3{
				background:#f4a19a;
				margin-left:5%;
			}
		}
		#section-9{
			.image{
				width: 100%;
				height: 100vh;
				background-image: url("../img/parallax-4.jpg");
				background-repeat: no-repeat;
			    background-size: cover;
			    background-position: center top;
			    margin-left:0.3%;
			   
			}


			#concepto{
				
				width:100%;
				height:100vh;
				text-align: center;
				// margin-left:8%;
				color:#fff;
				margin-top:2.5%;
				font-size:20px;
				font-family: 'Raleway', sans-serif;
				
				.text{
					margin-left:25%;
					margin-top: 10%;
					.text-bunny{
					color: #fff;
					font-size:60px;
				    }
				 }
			 }
			
		}
		#section-10{
			
		}
				
		
	